---
layout: default
---
<div class="row justify-content-center mb-3">
  
    <div>
      <div class="category-card" onclick="toggleTimeline('edu-timeline')">
        <h3>Education</h3>
      </div>
    </div>
  
    <div class="px-3">
      <div class="category-card" onclick="toggleTimeline('work-timeline')">
        <h3>Work</h3>
      </div>
    </div>
  
    <div>
      <div class="category-card" onclick="toggleTimeline('proj-timeline')">
        <h3>Projects</h3>
      </div>
    </div>
  
</div>

<div class="row justify-content-center mb-3">

  <div id="timeline-container" class="col-12 col-md-4 d-flex flex-column align-items-center">
    <div id="edu-timeline" class="timeline-wrapper w-100"> 
      {% include timeline.html type="education" %} 
    </div>
    
    <div id="proj-timeline" class="timeline-wrapper w-100"> 
      {% include timeline.html type="project" %} 
    </div>
    
    <div id="work-timeline" class="timeline-wrapper w-100"> 
      {% include timeline.html type="work" %} 
    </div>
  </div>

</div>
