<li class="timeline-item mb-5">
      <h5 class="fw-bold">
            {% if include.item.url %}
                  <a href="{{ include.item.url }}" target="_blank" class="text-decoration-none text-dark">
                        {{ include.item.title }} <i class="bi bi-box-arrow-up-right small"></i>
                  </a>
            {% else %}
                  {{ include.item.title }}
            {% endif %}
            </h5>
      <p class="text-muted mb-2 fw-bold">
            {% if include.item.end-date %}
                  {{include.item.date | date: "%B %Y" }}
                  {% if include.item.end_date == "Present" %}
                        Present
                  {% else %}
                        {{ include.item.end_date | date: "%B %Y" }}
                  {% endif %}
            {% else %}
                  {{ include.item.date | date: "%B %Y" }}
            {% endif %}
      </p>
      <p class="text-muted"> {{ include.item.description | newline_to_br }}</p>
</li>
